{% render 'partials/head.liquid' %}

<body>
    <h1>{{ task.title }}</h1>
    <p>{{ task.description }}</p>
    
    <article>
        {% comment %} hij laadt alles in wat in de database staat. {% endcomment %}
        {% for excercise in task.exercise %}  
            <h2>{{ excercise.title }}</h2>
            <a class="btn" href="">community drops</a>
            <a class="start-btn" href="/exercise/{{excercise.id}}">start oefening</a> {% comment %} link toevoegen automatische opdracht {% endcomment %}
            <p class="btn">25 min</p>
            <p class="btn">3 tips</p>
            {% comment %} <li>Excercise Description: {{ excercise.description }}</li> {% endcomment %}
        {% endfor %}
    </article>
</body>
